# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Yeray Díaz Díaz
author: Yeray Díaz Díaz
email: yeraydiazdiaz@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  Yeray Díaz Díaz personal site.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://yeraydiazdiaz.github.io"
twitter_username: yeray_ee
github_username:  yeraydiazdiaz
medium_username:  yeraydiazdiaz
excerpt_separator: <!--more-->
google_analytics: UA-102576026-1
permalink: /blog/:title

# Build settings
markdown: kramdown
#theme: minima
plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist
# kramdown:
#   auto_ids: true

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
